.movies {
    max-width: 60%;
    background-color: #1f1f1f;
    padding: 2rem;
    margin: 1rem;
    border: 2px solid white;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

@media (max-width:768px) {
    .movies {
        max-width: 100%;
    }
}